<!DOCTYPE html>
<html>
  <head>
    <title>Parcel Status Update</title>
  </head>
  <body>
    <h2>Hello <%= name %>,</h2>
    <p>Your parcel (<strong><%= trackingId %></strong>) status has been updated to:</p>
    <h3><%= status %></h3>
    <p><strong>Delivery Address:</strong> <%= deliveryAddress %></p>
    <br/>
    <p>Thank you for using SendIt Courier.</p>
  </body>
</html>
